<a href="https://colab.research.google.com/github/Gokulvasan-V/basic_Python/blob/master/Course%20Python/2_Print_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**GitHub folder name : Course Python/**

## 1. **Printing Multiple Values**

Python allows to print multiple value in single "print" function.

In [2]:
print("Gokul", "Kalpana", "Sasi", "Naveen", "Priya")

Gokul Kalpana Sasi Naveen Priya

In [3]:
print("Gokul", "Kalpana", "Sasi", "Naveen", "Priya", 52,523,12.0,45.3,96.7)

Gokul Kalpana Sasi Naveen Priya 52 523 12.0 45.3 96.7

In [1]:
a = 5
b = 10
c = 15
d = 20
print(a,b,c,d)

5 10 15 20

## **2.Default Sep & End in Print**

### **Sep** --> Separator (In python, Every value as separate by space defaultly)



```
print(sep=" ")
```

In [5]:
print?

In [4]:
print("Gokul","Kalpana","Sasi","Naveen","Priya",52,523,12.0,45.3,96.7) # Defaultly each value Separate by Space

Gokul Kalpana Sasi Naveen Priya 52 523 12.0 45.3 96.7

In [10]:
print("Gokul","Kalpana","Sasi","Naveen","Priya",52,523,12.0,45.3,96.7, sep = "" ) # Without space
print("Gokul","Kalpana","Sasi","Naveen","Priya",52,523,12.0,45.3,96.7, sep = "," ) # comma
print("Gokul","Kalpana","Sasi","Naveen","Priya",52,523,12.0,45.3,96.7, sep = '#') # Hash
print("Gokul","Kalpana","Sasi","Naveen","Priya",52,523,12.0,45.3,96.7, sep = ' & ') # and
print("Gokul","Kalpana","Sasi","Naveen","Priya",52,523,12.0,45.3,96.7, sep = ' T ') # T (Letter)

GokulKalpanaSasiNaveenPriya5252312.045.396.7
Gokul#Kalpana#Sasi#Naveen#Priya#52#523#12.0#45.3#96.7
Gokul & Kalpana & Sasi & Naveen & Priya & 52 & 523 & 12.0 & 45.3 & 96.7
Gokul T Kalpana T Sasi T Naveen T Priya T 52 T 523 T 12.0 T 45.3 T 96.7

In [17]:
print("Gokul","Kalpana","Sasi","Naveen","Priya",52,523,12.0,45.3,96.7, sep = "\n" ) # new line

Gokul
Kalpana
Sasi
Naveen
Priya
52
523
12.0
45.3
96.7

### **End**

By default Python's **"print()"** function ends with a newline.



```
print(end="\n")
```

In [11]:
# Default end="\n" (new line)

print("Hello")
print("World")
print("of")
print("Python")

Hello
World
of
Python

In [15]:
# Changing Default end in Print (by " , " (comma))

print("Hello", end= " , ")
print("World", end= " , ")
print("of", end= " , ")
print("Python")

Hello , World , of , Python

In [12]:
# Changing Default end in Print (by " " (space))

print("Hello", end= " ")
print("World", end= " ")
print("of", end= " ")
print("Python")

Hello World of Python

In [13]:
# Changing Default end in Print (by # (Hash))

print("Hello", end= '#')
print("World", end= '#')
print("of", end= '#')
print("Python")

Hello#World#of#Python

In [14]:
# Changing Default end in Print (by different symbol and letter)

print("Hello", end= ' % ')
print("World", end= ' $ ')
print("of", end= ' H ')
print("Python")

Hello # World $ of H Python

### **Sep & End at the same time**

In [24]:
# Default Result

print("Hello", "Python")
print("Welcome", "Thank You")
print("How", "are", "you")

Hello Python
Welcome Thank You
How are you

In [23]:
print("Hello", "Python", sep= " # ", end = " ")
print("Welcome", "Thank You", sep= "$", end = " \n$b ")
print("How", "are", "you" , sep= "\n", end = "%")

Hello # Python Welcome$Thank You
$b How
are
you%